<div class="section">
  <div class="row">
    <h1>
      Buyakevich Marina
    </h1>
    <h2>
      Junior Front End Developer
    </h2>
  </div>
</div>
<div class="row">
  <h2 class="h2">
    Personal information
  </h2>


  <div class="table">
    <table cellspacing="0" id="maket">
      <tr>
        <td class="leftcol">City</td>
        <td class="rightcol">Odesa</td>
      </tr>
      <tr>
        <td class="leftcol">Phone/Telegram/Viber/Skype</td>
        <td class="rightcol">+380634311176</td>
      </tr>
      <tr>
        <td class="leftcol">Email</td>
        <td class="rightcol">manyunya1011@gmail.com</td>
      </tr>
      <tr>
        <td class="leftcol">LinkedIn</td>
        <td class="rightcol">www.linkedin.com/in/marina-buyakevich</td>
      </tr>
    </table>
  </div>
  <h2 class="h2">
    Technical skills
  </h2>
  <h2 class="h2">
    Personal skills
  </h2>
  <div class="table">
  <table cellspacing="0" id="maket2">
    <tr>
      <td class="leftcol2">Languages</td>
      <td class="rightcol2">
        Russian, Ukrainian – native, English - elementary,
        German ─ beginner
      </td>
    </tr>
    <tr>
      <td class="leftcol">Phone/Telegram/Viber/Skype</td>
      <td class="rightcol">+380634311176</td>
    </tr>
    <tr>
      <td class="leftcol">Email</td>
      <td class="rightcol">manyunya1011@gmail.com</td>
    </tr>
    <tr>
      <td class="leftcol">LinkedIn</td>
      <td class="rightcol">www.linkedin.com/in/marina-buyakevich</td>
    </tr>
  </table>
  <h2 class="h2">
    Development
  </h2>
  <table cellspacing="0" id="maket3">
    <tr>
      <td class="leftcol2">
        Languages
      </td>
      <td class="rightcol2">
        JavaScript, TypeScript, HTML
      </td>
    </tr>
    <tr>
      <td class="leftcol2">Technology stack</td>
      <td class="rightcol2">Angular 6, CSS, Bootstrap, Materialize, Foundation, Vue.js,
        LESS, WordPress, jQuery, AJAX
      </td>
    </tr>
    <tr>
      <td class="leftcol2">Data base</td>
      <td class="rightcol2">MySQL</td>
    </tr>
    <tr>
      <td class="leftcol2">Other</td>
      <td class="rightcol2">Git, Adobe Photoshop, Avocode, Jira</td>
    </tr>
    <tr>
      <td class="leftcol2">OS</td>
      <td class="rightcol2">Windows, MacOs</td>
    </tr>
  </table>
  <h2 class="h2">
    Experience
  </h2>
  <ul class="list-unstyled">
    <li class="media">
      <img src="../assets/img/3.png" class="mr-3 img" alt="...">
      <div class="media-body">
        <h4 class="mt-0 mb-1">Front End Developer</h4>
        <h4 class="mt-0 mb-1">
          Banda-tech
        </h4>
        <h4 class="mt-0 mb-1">
          Oct, 2018 - Apr, 2019
        </h4>
        <p class="exp-color">
          Technology stack: </p>
        <p class="exp-color">
        - Angular 6,
        </p>
        <p class="exp-color">
         - JavaScript,
        </p>
        <p class="exp-color">
          - TypeScript,
        </p>
        <p class="exp-color">
          - HTML,
        </p>
        <p class="exp-color">
         - CSS,
        </p>
        <p class="exp-color">
         - LESS ,
        </p>
        <p class="exp-color">
        - Bootstrap,
        </p>
        <p class="exp-color">
          - Git
        </p>
        <p class="exp-color">
          Rewriting of product from C# to Angular 6.
          Main responsibilities: Creation and development of product with Angular.
        </p>
      </div>
    </li>
    <li class="media my-4">
      <img src="../assets/img/3.png" class="mr-3 img" alt="...">
      <div class="media-body">
        <h4 class="mt-0 mb-1">Web developer (HTML/CSS-coder)</h4>
        <h4 class="mt-0 mb-1">Beauty Line Odesa</h4>
        <h4 class="mt-0 mb-1">July, 2018 - Sept, 2018</h4>
        <p class="exp-color">
          Technology stack: </p>
        <p class="exp-color">
          -  WordPress,
        </p>
        <p class="exp-color">
          - HTML,
        </p>
        <p class="exp-color">
          - CSS,
        </p>
        <p class="exp-color">
          - MySQL
        </p>
        <p class="exp-color">
          Design and development of a site with WordPress for the Odesa beauty salon.
        </p>
      </div>
    </li>
    <li class="media">
      <img src="../assets/img/3.png" class="mr-3 img" alt="...">
      <div class="media-body">
        <h4 class="mt-0 mb-1">Web developer (HTML/CSS-coder)</h4>
        <h4 class="mt-0 mb-1">DRS Project, Odesa</h4>
        <h4 class="mt-0 mb-1">Apr 2018 - July 2018</h4>
        <p class="exp-color">
          Technology stack: </p>
        <p class="exp-color">
          -  WordPress,
        </p>
        <p class="exp-color">
          - HTML,
        </p>
        <p class="exp-color">
          - CSS,
        </p>
        <p class="exp-color">
          - MySQL
        </p>
        <p class="exp-color">
          Creating and supporting sites of customers.
          Main responsibilities: Layout of sites and new pages, integration of CMS templates, content administration, product data updating.
        </p>
        <p class="exp-color">
         <a href="https://alexanderdo.com/" target="_blank">https://alexanderdo.com/</a>
        </p>
        <p class="exp-color">
          <a href="https://davidroytman.com/" target="_blank">https://davidroytman.com/
          </a>
        </p>
        <p class="exp-color">
          <a href="http://drjudaica.com/" target="_blank">http://drjudaica.com/
          </a>
        </p>
        <p class="exp-color">
          <a href="http://sfarim.ru/" target="_blank">http://sfarim.ru/
          </a>
        </p>
        <p class="exp-color">
          <a href="http://luxurytalit.com/" target="_blank">http://luxurytalit.com/
          </a>
        </p>
      </div>
    </li>
    <li class="media my-4">
      <img src="../assets/img/3.png" class="mr-3 img" alt="...">
      <div class="media-body">
        <h4 class="mt-0 mb-1">Front End Developer</h4>
        <h4 class="mt-0 mb-1">Hillel Evo</h4>
        <h4 class="mt-0 mb-1">May, 2018 - Oct, 2018</h4>
        <p class="exp-color">
          Technology stack: </p>
        <p class="exp-color">
          -  Vue.js,
        </p>
        <p class="exp-color">
          -  JavaScript ,
        </p>
        <p class="exp-color">
          - HTML,
        </p>
        <p class="exp-color">
          - CSS,
        </p>
        <p class="exp-color">
          - Jira,
        </p>
        <p class="exp-color">
          - Bootstrap,
        </p>
        <p class="exp-color">
          - Git
        </p>
        <p class="exp-color">
          Development of a site on the program Hillel Evo
        </p>
      </div>
    </li>
    <li class="media">
      <img src="../assets/img/3.png" class="mr-3 img" alt="...">
      <div class="media-body">
        <h4 class="mt-0 mb-1">Web developer (HTML/CSS-coder)</h4>
        <h4 class="mt-0 mb-1">Iclima, Odesa</h4>
        <h4 class="mt-0 mb-1">Aug, 2017 - Apr, 2018</h4>
        <p class="exp-color">
          Technology stack: </p>
        <p class="exp-color">
          -  WordPress,
        </p>
        <p class="exp-color">
          - HTML,
        </p>
        <p class="exp-color">
          - CSS,
        </p>
        <p class="exp-color">
          - MySQL,
        </p>
        <p class="exp-color">
          - Bootstrap
        </p>
        <p class="exp-color">
          Internet shop of the climatic equipment.
          Main responsibilities: Support existing sites, content administration, support 4 sites, product data updating.
        </p>
      </div>
    </li>
  </ul>
  <h2 class="h2">
    Education
  </h2>
  <h2 class="h2">
    Training Courses
  </h2>
  <div class="table">
    <table cellspacing="0" id="maket4">
      <tr>
        <td class="leftcol">Institution</td>
        <td class="rightcol">Hillel</td>
      </tr>
      <tr>
        <td class="leftcol">Department</td>
        <td class="rightcol">Front-End Pro</td>
      </tr>
      <tr>
        <td class="leftcol">Duration</td>
        <td class="rightcol">Aug 2018 - Dec 2018</td>
      </tr>
    </table>
    <p></p>
    <table cellspacing="0" id="maket5">
      <tr>
        <td class="leftcol">Institution</td>
        <td class="rightcol">Mobios</td>
      </tr>
      <tr>
        <td class="leftcol">Department</td>
        <td class="rightcol">HTML/CSS-coder</td>
      </tr>
      <tr>
        <td class="leftcol">Duration</td>
        <td class="rightcol">Nov 2016 - May 2017</td>
      </tr>
    </table>
</div>
  <h2 class="h2">
    Other
  </h2>
  <div class="table">
    <table cellspacing="0" id="maket6">
      <tr>
        <td class="leftcol">Institution</td>
        <td class="rightcol">Feodosia Finance Economics Academy</td>
      </tr>
      <tr>
        <td class="leftcol">Department</td>
        <td class="rightcol">Faculty of Law</td>
      </tr>
      <tr>
        <td class="leftcol">Degree</td>
        <td class="rightcol">Master's degree</td>
      </tr>
    </table>
  </div>
  </div>
</div>
